.directory {
    .item {
        width: 50%;
        height: 100%;
        float: right;    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      } 
}
